.detailPage {
    min-height: 100vh;
  //  margin: 5px 10%;
    width: 70%;
    margin: 5% auto;

    .nav a{
        display: flex;
        align-items: center;
        border: 1px solid green;
        border-radius: 3px;
        width: fit-content;
        padding: 5px;
        box-shadow: 2px 3px 3px green;
        margin-bottom: 5px;
    }
}

.details-img {
    position: relative;

    img{
        width: 100%;       
    }

    .status {
        position: absolute;
        top: 1em;
        right: -2.2em;
        padding: 5px;
        background: green;
        width: 150px;
        transform: rotate(50deg);
        text-align: center;
       // border-radius: 25px;
        text-transform: uppercase;
        letter-spacing: 2px;
        box-shadow: 2px 2px 3px yellowgreen;
        
    }
}