*{
   
    color: #fff;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: 1s ease;

    a {
        text-decoration: none;
    }
}

body{
    background: rgb(31, 28, 28);
}

img{
    width: 100%;
}

.homeSection {

    margin: auto 5%;

    .container{
      width: 100%;
    }

    .title-container {
        padding: 5%;
        box-shadow: 2px 2px 3px #ccc;
        margin-bottom: 20px;
        text-align: center;

        h1 {
            font-size: 3rem;
            font-weight: bold;
        }

        span{
            line-height: 1;
            font-size: 155%;
        }
    }
}

.game-container{
    display:grid;
    grid-template-columns: repeat(4,292px);
    gap: 1rem;

   // justify-content: space-between;
}

