.changeBox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3px 0 15px 0;

    button{
        width: 100%;
        padding: 10px;
        background: transparent;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
    }
}